# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Read .csv file created from WeatherPy
csv_file = pd.read_csv("../WeatherPy/output_data/cities.csv")
csv_file.head()

,City,Lat,Long,Max Temp,Humidity,Clouds,Wind Speed,Country,Date
0,Punta Arenas,-53.15,-70.92,46.40,75,75,3.36,CL,1603666860
1,Mbandaka,0.05,18.26,72.27,96,69,2.68,CD,1603667266
2,Vaini,-21.20,-175.20,75.20,88,75,12.75,TO,1603667024
3,Bluff,-46.60,168.33,53.01,63,71,5.99,NZ,1603667054
4,Hobart,-42.88,147.33,57.00,54,75,11.41,AU,1603666995

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
# Define variables 
locations = csv_file[["Lat", "Long"]]
humidity = csv_file["Humidity"]

# Plot Heatmap
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)
max_intensity = np.max(humidity)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=100, point_radius=3)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [8]:
# New DataFrame showing cities with ideal weather: 
# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Zero cloudiness.

ideal_city = csv_file.loc[((csv_file['Max Temp'] <= 80) & (csv_file['Max Temp'] >= 70) \
                           & (csv_file['Wind Speed'] <= 10) & (csv_file['Clouds'] == 0).dropna(how='all'))]

ideal_city

,City,Lat,Long,Max Temp,Humidity,Clouds,Wind Speed,Country,Date
30,Mumbwa,-14.98,27.06,72.01,35,0,6.58,ZM,1603667267
41,Pout,14.77,-17.06,78.80,83,0,5.82,SN,1603667267
70,Pīpār,26.39,73.54,72.97,25,0,6.96,IN,1603667269
119,Sur,22.57,59.53,74.93,53,0,9.01,OM,1603667011
188,Abu Dhabi,24.47,54.37,78.80,74,0,3.36,AE,1603667218
247,Erzin,36.96,36.20,71.01,47,0,8.99,TR,1603667277
251,Salalah,17.02,54.09,75.20,60,0,5.82,OM,1603667050
310,Makkah al Mukarramah,21.43,39.83,77.27,70,0,2.21,SA,1603667067
354,Doha,25.29,51.53,79.00,78,0,2.24,QA,1603666990
360,Damietta,31.42,31.81,77.00,78,0,9.17,EG,1603667282
389,Gewanē,10.17,40.65,77.22,28,0,2.46,ET,1603667284
414,Cabedelo,-6.98,-34.83,78.80,83,0,6.93,BR,1603667285
424,Chikhli,20.35,76.25,70.39,80,0,1.70,IN,1603667168
492,Koungou,-12.73,45.20,77.00,83,0,8.05,YT,1603667289
507,Umluj,25.02,37.27,78.80,46,0,1.30,SA,1603667077
515,Kiryat Gat,31.61,34.76,73.99,83,0,2.24,IL,1603667041

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [9]:
# Store into variable named hotel_df
hotel_df = ideal_city.loc[:,["City","Country","Lat","Long"]]

# Add a "Hotel Name" column to the DataFrame
hotel_df["Hotel Name"] = ""
hotel_df

                     City Country    Lat   Long Hotel Name
30                 Mumbwa      ZM -14.98  27.06
41                   Pout      SN  14.77 -17.06
70                  Pīpār      IN  26.39  73.54
119                   Sur      OM  22.57  59.53
188             Abu Dhabi      AE  24.47  54.37
247                 Erzin      TR  36.96  36.20
251               Salalah      OM  17.02  54.09
310  Makkah al Mukarramah      SA  21.43  39.83
354                  Doha      QA  25.29  51.53
360              Damietta      EG  31.42  31.81
389                Gewanē      ET  10.17  40.65
414              Cabedelo      BR  -6.98 -34.83
424               Chikhli      IN  20.35  76.25
492               Koungou      YT -12.73  45.20
507                 Umluj      SA  25.02  37.27
515            Kiryat Gat      IL  31.61  34.76

In [10]:
for index, row in hotel_df.iterrows():
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Get latitude, longitude, and city from DataFrame 'ideal_city'
    lat = row['Lat']
    long = row['Long'] 
    city = row['City']
    
    # Set location
    coords = f"{lat}, {long}"
    
    # Set parameters 
    params = {
    "location": coords,
    "keyword": 'hotel',
    "radius": 5000,
    "type": 'lodging',
    "key": g_key}
        
    # Set url and make API request
    print(f"Retrieving Results for Index {index}: {city} at {coords}.")
    response = requests.get(base_url, params=params).json()
    
    # Extract results
    results = response['results']
    
    # Add the hotel name to dataframe
    try:
        print(f"First hotel in {city}  is {results[0]['name']}.") 
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name'] 
       
    # If there is no hotel available, show missing field    
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")  
    print("------------")
    
# Print end of search once searching is completed
print("-------End of Search-------")

Retrieving Results for Index 30: Mumbwa at -14.98, 27.06.
First hotel in Mumbwa  is Madalitso Guest House.
------------
Retrieving Results for Index 41: Pout at 14.77, -17.06.
Missing field/result... skipping.
------------
Retrieving Results for Index 70: Pīpār at 26.39, 73.54.
Missing field/result... skipping.
------------
Retrieving Results for Index 119: Sur at 22.57, 59.53.
First hotel in Sur  is Sur Plaza Hotel.
------------
Retrieving Results for Index 188: Abu Dhabi at 24.47, 54.37.
First hotel in Abu Dhabi  is Royal M Hotel & Resort Abu Dhabi.
------------
Retrieving Results for Index 247: Erzin at 36.96, 36.2.
First hotel in Erzin  is Hattusa Vacation Thermal Club Erzin.
------------
Retrieving Results for Index 251: Salalah at 17.02, 54.09.
First hotel in Salalah  is Salalah Gardens Hotel.
------------
Retrieving Results for Index 310: Makkah al Mukarramah at 21.43, 39.83.
First hotel in Makkah al Mukarramah  is Pullman Zamzam Makkah.
------------
Retrieving Results for Index 354: Doha at 25.29, 51.53.
First hotel in Doha  is Al Najada Doha Hotel by Tivoli.
------------
Retrieving Results for Index 360: Damietta at 31.42, 31.81.
First hotel in Damietta  is SULIMAN INN.
------------
Retrieving Results for Index 389: Gewanē at 10.17, 40.65.
Missing field/result... skipping.
------------
Retrieving Results for Index 414: Cabedelo at -6.98, -34.83.
First hotel in Cabedelo  is Formosa Apart Hotel.
------------
Retrieving Results for Index 424: Chikhli at 20.35, 76.25.
First hotel in Chikhli  is Swaranjali Hotel & Lawn.
------------
Retrieving Results for Index 492: Koungou at -12.73, 45.2.
First hotel in Koungou  is Hôtel Restaurant Le Trévani.
------------
Retrieving Results for Index 507: Umluj at 25.02, 37.27.
First hotel in Umluj  is Shada Collection Mina Hotel.
------------
Retrieving Results for Index 515: Kiryat Gat at 31.61, 34.76.
First hotel in Kiryat Gat  is Desert Gat.
------------
-------End of Search-------

In [11]:
# Replace missing field in Hotel Name with NaN and drop these
hotel_df[hotel_df == ""] = np.nan
hotel_df = hotel_df.dropna()

# Create New DataFrame
hotel_data = pd.DataFrame(hotel_df)
hotel_data

,City,Country,Lat,Long,Hotel Name
30,Mumbwa,ZM,-14.98,27.06,Madalitso Guest House
119,Sur,OM,22.57,59.53,Sur Plaza Hotel
188,Abu Dhabi,AE,24.47,54.37,Royal M Hotel & Resort Abu Dhabi
247,Erzin,TR,36.96,36.20,Hattusa Vacation Thermal Club Erzin
251,Salalah,OM,17.02,54.09,Salalah Gardens Hotel
310,Makkah al Mukarramah,SA,21.43,39.83,Pullman Zamzam Makkah
354,Doha,QA,25.29,51.53,Al Najada Doha Hotel by Tivoli
360,Damietta,EG,31.42,31.81,SULIMAN INN
414,Cabedelo,BR,-6.98,-34.83,Formosa Apart Hotel
424,Chikhli,IN,20.35,76.25,Swaranjali Hotel & Lawn
492,Koungou,YT,-12.73,45.20,Hôtel Restaurant Le Trévani
507,Umluj,SA,25.02,37.27,Shada Collection Mina Hotel
515,Kiryat Gat,IL,31.61,34.76,Desert Gat

In [12]:
#Save hotel data to a csv file
hotel_data.to_csv("output_data/hotel_data.csv", index=False)

In [13]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_data.iterrows()]
locations = hotel_data[["Lat", "Long"]]

In [14]:
# Add marker layer on top of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))